/* Basic */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 1.1em;
    background-color: var(--clr2);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    list-style: none;
}

hr {
    background-color: var(--clr1);
    height: 3px;
    border: none;
}

button {
    color: var(--clr2);
    background-color: var(--clr1);
    border-radius: 5px;
    height: 25px;
    margin: 5px;
    cursor: pointer;
    border: 0;
    padding: .5em;
}

td {
    padding-right: 30px;
    height: 20px;
    font-family: 'Roboto';
    cursor: pointer;
    font-size:0.8em;
}

tr {
    height: 20px;
}

li {
    padding: 10px 0;
}

li:hover{
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    z-index: 2;
}

li:not(:last-child){
    border-bottom: var(--clr3) 1px solid;
}